{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'package_generator/images/favicon.ico' %}" type="image/x-icon">
        <!-- CSS -->
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'package_generator/css/base.css' %}">
        <!-- END of CSS -->
        
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        
        {% bootstrap_javascript %}

        <!-- END of JS -->
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <div class="package-generator-title">
            <h1>
                <span class="sherpa-color-1">P</span><span class="sherpa-color-2">a</span><span class="sherpa-color-3">c</span><span class="sherpa-color-1">k</span><span class="sherpa-color-2">a</span><span class="sherpa-color-3">g</span><span class="sherpa-color-1">e</span> <span class="sherpa-color-2">G</span><span class="sherpa-color-3">e</span><span class="sherpa-color-1">n</span><span class="sherpa-color-2">e</span><span class="sherpa-color-3">r</span><span class="sherpa-color-1">a</span><span class="sherpa-color-2">t</span><span class="accenture-color">o</span><span class="sherpa-color-3">r</span>
            </h1>
        </div>

        {% block main %}
        {% endblock %}

        {% block extra_script %}
        {% endblock %}
    </body>

</html>