{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Package Generator{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'package_generator/css/package_generator.css' %}">
{% endblock %}


{% block main %}

    <div class="form">
        <label for="inputFrom" class="sr-only">From</label>
        <input type="email" id="inputRepo" class="form-control dropdown-toggle" placeholder="From" required="" autofocus="">
        <label for="inputTo" class="sr-only">To</label>
        <input type="email" id="inputRepo" class="form-control dropdown-toggle" placeholder="To" required="" autofocus="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>
    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}