{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Package Generator{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'package_generator/css/package_generator.css' %}">
{% endblock %}


{% block main %}

    <div class="form">
        <label for="inputRepo" class="sr-only">Repository URL</label>
        <input type="email" id="inputRepo" class="form-control" placeholder="Repository URL" required="" autofocus="">
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="email" id="inputRepo" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}