{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Package Generator{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'package_generator/css/package_generator.css' %}">
{% endblock %}


{% block main %}

    <div class='info'>
        <p>Repository: {{ repository_name }}</p>
    </div>


    <form class="form" action="." method="post">
        {% csrf_token %}
        {% bootstrap_field form.to_revision show_label=True %}
        {% bootstrap_field form.from_revision show_label=True %}

        {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>
        {% endbuttons %}
    </form>

    <div class="edit-repo">
        <a href="{% url 'repository-info' %}">Edit Repository Details</a><br />
        <a href="javascript: location.reload();">Re-pull from Repository</a>
    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}