{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Package Generator{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'package_generator/css/repository_info.css' %}">
{% endblock %}


{% block main %}
    <form class="form" action="." method="post">
        {% csrf_token %}
        {% bootstrap_field form.repository_url show_label=True %}
        {% bootstrap_field form.password show_label=True %}

        {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
        {% endbuttons %}
    </form>

    <div class="clear-session">
        <a href="{% url 'clear-session' %}">Clear Details</a>
    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}