.package-generator-title {
    text-align: center;
    margin-bottom: 20px;
}

.sherpa-color-1 {
    color: #f78d28;
}

.sherpa-color-2 {
    color: #0076bc;
}

.sherpa-color-3 {
    color: #8a8a8d;
}

.accenture-color {
    color: #ab1133;
}

.form {
    width: 400px;
    margin: auto; 
}

.info, .edit-repo {
    width: 400px;
    margin: auto; 
}

.info {
    font-style: italic;
    text-align: center;
}

.edit-repo {
    text-align: right;
}

.form input {
    margin-bottom: 5px;
}