.package-generator-title {
    text-align: center;
    margin-bottom: 20px;
}

.sherpa-color-1 {
    color: #f78d28;
}

.sherpa-color-2 {
    color: #0076bc;
}

.sherpa-color-3 {
    color: #8a8a8d;
}

.accenture-color {
    color: #ab1133;
}

.form {
    width: 400px;
    margin: auto; 
}

.clear-session {
    width: 400px;
    margin: auto; 
    text-align: right;
}